
<h1>Mobilités TSE</h1>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-4 my-2" id="panel-left">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{user_data.firstname}} {{user_data.lastname}}, bienvenue.</h5>
                    <p class="card-text">Vous avez un compte adminitrateur.</p>
                    <p class="card-text mb-0">Criteres de recherche</p>
                    <form class="form my-0">
                        <div class="form-group">
                            <label for="student_name">Nom de l'étudiant :</label>
                            <input id="student_name" type="text" class="form-control" name="student_name" value="{{form_data.student_name}}"/>
                        </div>

                        <div class="form-group">
                            <label for="country">Pays :</label>
                            <select id="country" class="form-control" name="country"></select>
                        </div>

                        <div class="form-group">
                            <label for="completion_status">Status :</label>
                            <select id="completion_status" class="form-control" name="completion_status">
                                <option value="">Tous</option>
                                <option value="past">Terminé</option>
                                <option value="ongoing">En cours</option>
                                <option value="upcoming">A venir</option>
                            </select>
                        </div>

                        <div class="form-group" id="div_promo">
                            <label for="promo">Promotion :</label>
                            <select class="form-control" id="promo" name="promo">
                            </select>
                        </div> 
                        <button class="btn btn-danger float-right px-4">Recherche</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 my-2" id="panel-trips">
            <div class="card">
                <div class="card-header btn-toolbar justify-content-between">
                    <p class="h5 my-auto">Voyages</p>
                    <div class="btn-group" role="group" aria-label="Switch">
                        <button type="button" id="btn_list" class="btn btn-danger flex-auto">Liste</button>
                        <button type="button" id="btn_map" class="btn btn-danger flex-auto">Carte</button>
                    </div>
                </div>
                <div id="card-list" class="card-body">
                    <div class="list-group" id="trip-list">
                        {{!-- https://getbootstrap.com/docs/4.0/migration/#list-groups --}}
                        {{#each trips}}
                        <a class="list-group-item list-group-item-action list-group-item d-flex justify-content-between align-items-center" href="/student/edit?trip_id={{this.trip_id}}">
                            {{this.display_name}} - {{this.country_name}} - {{this.lastname}}
                            {{#if this.upcoming}}
                            <span class="badge badge-secondary badge-pill">A venir</span>
                            {{/if}}
                            {{#if this.current}}
                            <span class="badge badge-primary badge-pill">En cours</span>
                            {{/if}}
                            {{#if this.past}}
                            <span class="badge badge-light badge-pill">Terminé</span>
                            {{/if}}
                        </a>
                        {{/each}}
                    </div>
                </div>
                <div id="card-map" class="card-body" hidden>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/countries.js"></script>
<script src="/javascripts/promos.js"></script>
<script src="/javascripts/country-codes-lat-long.js"></script>		


<script>
    // Set status
    $("#completion_status").val("{{{form_data.completion_status}}}");

    // Add countries to select
    $("#country").append($('<option>', {
        value: "",
        text: "Tous"
    }));

    for (let c in countries) {
        $("#country").append($('<option>', {
            value: c,
            text: countries[c]
        }));
    }
    $("#country").val("{{{form_data.country}}}");

    // Add promos to select
    $("#promo").append($('<option>', {
        value: "",
        text: "Toutes"
    }));

    for (let p in promos) {
        $("#promo").append($('<option>', {
            value: p,
            text: promos[p]
        }));
    }
    $("#promo").val("{{{form_data.promo}}}");

    document.getElementById("btn_list").addEventListener("click", (ev) => {
            document.getElementById("card-map").hidden = true;
            document.getElementById("card-list").hidden = false;
        });
        
    document.getElementById("btn_map").addEventListener("click", (ev) => {
            document.getElementById("card-map").hidden = false;
            document.getElementById("card-list").hidden = true;
        });

</script>

<script type="text/javascript" src="/javascripts/mapdata.js"></script>		

<script>
    const country_count = {{{country_count}}};
    let loc_index = 0;
    for (let c of country_codes_lat_long["ref_country_codes"]) {
        for (let c_count of country_count) {        
            if (c["alpha2"] == c_count["country_name"]) {
                simplemaps_worldmap_mapdata.locations[loc_index.toString()] = {
                    name: c["country"],
                    lat: c["latitude"],
                    lng: c["longitude"],
                    color: "default",
                    description: c_count["count"].toString() + " voyage(s) ici.",
                    url: "default"
                };
                loc_index += 1;
                break;
            }
        }
    }
</script>

{{!-- https://simplemaps.com/docs/ --}}
<script  type="text/javascript" src="/javascripts/worldmap.js"></script>