
<h1>Mobilités TSE</h1>

<div class="container">
    <form class="needs-validation mb-2" method="POST" {{#if mode_create}} action="/student/edit/insert" {{else}} action="/student/edit/update" {{/if}} novalidate>
        <input type="hidden" name="trip_id" value="{{trip_data.trip_id}}">
        <h4 class="mt-4">{{#if mode_create}}Nouveau{{else}}Modification de{{/if}} voyage</h4>
        <hr class="mt-0 mb-2">

        <div class="form-group">
            <label for="trip_name">Titre du voyage</label>
            <input type="text" id="trip_name" class="form-control" name="trip_name" aria-describedby="trip_name_helptext" required>
            {{#if mode_create}}
                <small id="trip_name_helptext" class="form-text text-muted">
                Attention, une fois le titre validé, il ne pourra plus être modifié.
                </small>
            {{/if}}
        </div>
        
        <label for="date_start">Dates</label>
        <div class="input-daterange input-group" id="datepicker">
            <div class="input-group-prepend">
                <span class="input-group-text">Du</span>
            </div>
            <input type="text" class="input-sm form-control" id="date_start" name="start" autocomplete="off" required>
            <div class="input-group-prepend">
                <span class="input-group-text">au</span>
            </div>
            <input type="text" class="input-sm form-control" id="date_end" name="end" required>
        </div>
        
        <h4 class="mt-4">Destination</h4>
        <hr class="mt-0 mb-2">

        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" id="city" class="form-control" name="city" required>
        </div>
        <div class="form-group">
            <label for="country">Pays</label>
            <select id="country" class="form-control" name="country" required>
            </select>
        </div>


        <button class="btn btn-lg btn-danger btn-block" type="submit">
            {{#if mode_create}}
                Créer
            {{else}}
                Modifier
            {{/if}}
            Voyage
        </button>
    </form>
    
    {{#unless mode_create}}
    <hr/>
    <form method="POST" action="/student/edit/delete" class="text-center mt-2">
        <input type="hidden" name="trip_id" value="{{trip_data.trip_id}}">
        <button class="btn btn-outline-dark btn-block font-italic" type="button" onclick="onSupClick()">
            Supprimer Voyage ?
        </button>
        <button id="btn-conf-delete" class="btn btn-outline-danger btn-sm font-weight-bold mt-2" type="submit" hidden>
            Oui, supprimer le voyage.
        </button>
    </form>
    {{/unless}}

</div>

<script src="/javascripts/countries.js"></script>

<script>
existing_trip_names = [{{#each existing_trip_names}}"{{this}}",{{/each}}];

// Add countries to select
for (let c in countries) {
    $("#country").append($('<option>', {
        value: c,
        text: countries[c]
    }));
}

if (!{{mode_create}}) {
    // Préremplir le formulaire
    $("#trip_name").val("{{trip_data.display_name}}");
    $("#trip_name").prop("disabled", true);

    $("#date_start").val("{{trip_data.start_date}}");
    $("#date_end").val("{{trip_data.end_date}}");

    $("#city").val("{{trip_data.city_name}}");
    $("#country").val("{{trip_data.country_name}}");
}

$('.input-daterange').datepicker({
    format: "yyyy-mm-dd",
    startView: 1,
    maxViewMode: 2,
    autoclose: true,
    todayHighlight: true
});

function onSupClick() {
    document.getElementById("btn-conf-delete").hidden = false;
}
</script>


<script>
// For disabling form submissions if there are invalid fields
// Inspired by : https://getbootstrap.com/docs/4.0/components/forms/?#validation
(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            $("#trip_name") .removeClass("is-invalid"); 
            $("#date_start").removeClass("is-invalid"); 
            $("#date_end")  .removeClass("is-invalid"); 
            $("#city")      .removeClass("is-invalid"); 
            let valid_form = true;
            
            if ($("#trip_name").val() == "") {  // Si le nom est vide 
                valid_form = false;
                $("#trip_name").addClass("is-invalid");
            }

            {{#if mode_create}}  // Si en mode création de voyage
            if (existing_trip_names.includes($("#trip_name").val())) {  // Si le nom est déjà pris par un autre voyage
                valid_form = false;
                $("#trip_name").addClass("is-invalid");
            }
            {{/if}}

            if ($("#date_start").val() == "" || $("#date_end").val() == "" || Date.parse($("#date_start").val()) > Date.parse($("#date_end").val())) {  // Si la date de fin est avant la date de début
                valid_form = false;
                $("#date_start").addClass("is-invalid");
                $("#date_end").addClass("is-invalid");
            }
            if (/^[A-Za-zÀ-ÖØ-öø-ÿ\-]+$/i.test($("#city").val()) === false) {  // Si le nom de la ville contient que des lettres (accents et '-' acceptés)
                valid_form = false;
                $("#city").addClass("is-invalid"); 
            }

            if (!valid_form) {  // Si ce n'est pas bon, annuler le submit
                event.preventDefault();
                event.stopPropagation();
            }
        }, false);
    });
    }, false);
})();
</script>