
<h1>Mobilités TSE</h1>

<div class="container">
    <form class="" method="POST" action="/student/edit">

        <h4 class="mt-4">{{#if mode_create}}Nouveau{{else}}Modification de{{/if}} voyage</h4>
        <hr class="mt-0 mb-2">

        <div class="form-group">
            <label for="trip_name">Titre du voyage</label>
            <input type="text" id="trip_name" class="form-control" aria-describedby="trip_name_helptext">
            <small id="trip_name_helptext" class="form-text text-muted">
            Attention, une fois le titre validé, il ne pourra plus être modifié.
            </small>
        </div>
        
        <label for="date_start">Dates</label>
        <div class="input-daterange input-group" id="datepicker">
            <div class="input-group-prepend">
                <span class="input-group-text">Du</span>
            </div>
            <input type="text" class="input-sm form-control" id="date_start" name="start" autocomplete="off">
            <div class="input-group-prepend">
                <span class="input-group-text">au</span>
            </div>
            <input type="text" class="input-sm form-control" id="date_end" name="end">
        </div>
        
        <h4 class="mt-4">Destination</h4>
        <hr class="mt-0 mb-2">

        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" id="city" class="form-control">
        </div>
        <div class="form-group">
            <label for="country">Pays</label>
            <select id="country" class="form-control">
                <option selected>...</option>
                <option>....</option>
            </select>
        </div>


        <button class="btn btn-lg btn-danger btn-block" type="submit" {{#if mode_create}} href="./insert" {{else}} href="./update" {{/if}}>
            {{#if mode_create}}
                Créer
            {{else}}
                Modifier
            {{/if}}
            Voyage
        </button>
    </form>
</div>

<script>
if (!{{mode_create}}) {
    // Préremplir le formulaire
    let data = {{trip_data}};
    $("#trip_name").text = data.display_name;
    $("#trip_name").prop("disabled", true);

    $("#date_start").text = data.start_date;
    $("#date_end").text = data.end_date;

    $("#city").text = data.city_name;
    $("#country").text = data.country_name;
}

$('.input-daterange').datepicker({
    format: "dd/mm/yyyy",
    startView: 1,
    maxViewMode: 2,
    autoclose: true,
    todayHighlight: true
});
</script>