
<h1>Mobilités TSE</h1>

<div class="container">
    <form class="" method="POST" {{#if mode_create}} action="/student/edit/insert" {{else}} action="/student/edit/update" {{/if}}>

        <h4 class="mt-4">{{#if mode_create}}Nouveau{{else}}Modification de{{/if}} voyage</h4>
        <hr class="mt-0 mb-2">

        <div class="form-group">
            <label for="trip_name">Titre du voyage</label>
            <input type="text" id="trip_name" class="form-control" name="trip_name" aria-describedby="trip_name_helptext">
            {{#if mode_create}}
                <small id="trip_name_helptext" class="form-text text-muted">
                Attention, une fois le titre validé, il ne pourra plus être modifié.
                </small>
            {{/if}}
        </div>
        
        <label for="date_start">Dates</label>
        <div class="input-daterange input-group" id="datepicker">
            <div class="input-group-prepend">
                <span class="input-group-text">Du</span>
            </div>
            <input type="text" class="input-sm form-control" id="date_start" name="start" autocomplete="off">
            <div class="input-group-prepend">
                <span class="input-group-text">au</span>
            </div>
            <input type="text" class="input-sm form-control" id="date_end" name="end">
        </div>
        
        <h4 class="mt-4">Destination</h4>
        <hr class="mt-0 mb-2">

        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" id="city" class="form-control" name="city">
        </div>
        <div class="form-group">
            <label for="country">Pays</label>
            <select id="country" class="form-control" name="country">
            </select>
        </div>


        <button class="btn btn-lg btn-danger btn-block" type="submit">
            {{#if mode_create}}
                Créer
            {{else}}
                Modifier
            {{/if}}
            Voyage
        </button>
    </form>
</div>

<script src="/javascripts/countries.js"></script>

<script>
// Add countries to select
for (let c in countries) {
    $("#country").append($('<option>', {
        value: c,
        text: countries[c]
    }));
}


if (!{{mode_create}}) {
    // Préremplir le formulaire
    $("#trip_name").val("{{trip_data.display_name}}");
    $("#trip_name").prop("disabled", true);

    $("#date_start").val("{{trip_data.start_date}}");
    $("#date_end").val("{{trip_data.end_date}}");

    $("#city").val("{{trip_data.city_name}}");
    $("#country").val("{{trip_data.country_name}}");
}

$('.input-daterange').datepicker({
    format: "yyyy-mm-dd",
    startView: 1,
    maxViewMode: 2,
    autoclose: true,
    todayHighlight: true
});
</script>